<div class="modal" >
  <div class="modal-content">
    <span class="close" >&times;</span>
    <h2>Comentarios</h2>
    <div class="comments-section">
      <div class="comment">
        <p>comentario</p>
        <div class="comment-actions">
          <button >Editar</button>
          <button>Eliminar</button>
        </div>
      </div>
    </div>
    <div class="add-comment">
      <textarea placeholder="Añadir un comentario"></textarea>
      <button>Añadir Comentario</button>
    </div>
  </div>
</div>