<div *ngIf="showModal" class="modal-backdrop">
    <div class="modal-content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="modal-header">
                <h5 class="modal-title">Crea una nueva publicación</h5>
                <button type="button" class="close" (click)="closeModal()">&times;</button>
            </div>
            <div class="modal-body">
                <input type="file" id="fileInput" (change)="getFile($event)" style="display: none;">
                <button *ngIf="!imageSrc" type="button" class="choose-file-button" (click)="chooseFile()">
                    <span class="bi bi-camera"></span> Seleccionar de la computadora
                </button>
                <div class="image-preview" *ngIf="imageSrc">
                    <img [src]="imageSrc" alt="Vista previa de la imagen">
                    <button type="button" class="clear-image-button" (click)="clearImage()">Eliminar imagen</button>
                </div>
            </div>
        </form>
    </div>
</div>
