<div *ngIf="showModal" class="modal-backdrop">
    <div class="modal">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="modal-header">
                <h5 class="modal-title">Crear Nuevo</h5>
                <button type="button" class="close" (click)="closeModal()">&times;</button>
            </div>
            <div class="modal-body">
                <!-- Campos del formulario -->
                <input formControlName="text" placeholder="Texto" required>
                <input type="file" id="fileInput" (change)="getFile($event)" style="display: none;">
                <button type="button" (click)="chooseFile()">Seleccionar imagen</button>
                <input formControlName="image" required>
                <input formControlName="tag" placeholder="Etiqueta" required>
                <div class="image-preview" *ngIf="imageSrc">
                    <img [src]="imageSrc" alt="Vista previa de la imagen">
                    <button type="button" (click)="clearImage()">Eliminar imagen</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="closeModal()">Cancelar</button>
                <button type="submit" [disabled]="!form.valid">Crear</button>
            </div>
        </form>
    </div>
</div>
