
.rounded-circle {
    width: 50px; /* Ajustează dimensiunea butonului după preferințe */
    height: 50px; /* Ajustează dimensiunea butonului după preferințe */
    border: 2px solid green; /* Schimbă culoarea și grosimea încădrării după preferințe */
    background-color: white; /* Schimbă culoarea de fundal după preferințe */
  }