<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">!-->

<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1 style="margin-left: 400px; margin-top: 30px;">Administración de Quejas</h1>
      <br>
      <table id="complaintsTable" class="table table-bordered table-hover">
        <thead>
          <tr class="text-center">
            <th style="width:15%; background-color: rgb(147, 147, 147);">Usuario</th>
            <th style="width:15%; background-color: rgb(147, 147, 147);">Problema</th>
            <th style="width:10%; background-color: rgb(147, 147, 147);">Fecha</th>
            <th style="width:10%; background-color: rgb(147, 147, 147);">Estado</th>
            <th style="width:15%; background-color: rgb(147, 147, 147);">Solución</th>
            <th style="width:15%; background-color: rgb(147, 147, 147);">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>Pedro López</td>
            <td>Falta de Privacidad</td>
            <td>2024-05-01</td>
            <td>
              <span class="badge bg-primary">En proceso</span>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Ingrese la solución">
            </td>
            <td>
              <button type="button" class="btn btn-success" style="margin-right: 12px;">
                <i class="pi pi-check"></i> 
              </button>
              <button type="button" class="btn btn-danger">
                <i class="pi pi-times"></i>
              </button>
            </td>
          </tr>
          <tr class="text-center">
            <td>Pedro López</td>
            <td>Falta de Privacidad</td>
            <td>2024-05-01</td>
            <td>
              <span class="badge bg-primary">En proceso</span>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Ingrese la solución">
            </td>
            <td>
              <button type="button" class="btn btn-success" style="margin-right: 12px;">
                <i class="pi pi-check"></i> 
              </button>
              <button type="button" class="btn btn-danger">
                <i class="pi pi-times"></i>
              </button>
            </td>
          </tr>
          <tr class="text-center">
            <td>Pedro López</td>
            <td>Falta de Privacidad</td>
            <td>2024-05-01</td>
            <td>
              <span class="badge bg-warning">Pendiente</span>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Ingrese la solución">
            </td>
            <td>
              <button type="button" class="btn btn-success" style="margin-right: 12px;">
                <i class="pi pi-check"></i> 
              </button>
              <button type="button" class="btn btn-danger">
                <i class="pi pi-times"></i>
              </button>
            </td>
          </tr>
          <tr class="text-center">
            <td>Pedro López</td>
            <td>Falta de Privacidad</td>
            <td>2024-05-01</td>
            <td>
              <span class="badge bg-primary">En proceso</span>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Ingrese la solución">
            </td>
            <td>
              <button type="button" class="btn btn-success" style="margin-right: 12px;">
                <i class="pi pi-check"></i> 
              </button>
              <button type="button" class="btn btn-danger">
                <i class="pi pi-times"></i>
              </button>
            </td>
          </tr>

          <tr class="text-center">
            <td>Pedro López</td>
            <td>Falta de Privacidad</td>
            <td>2024-05-01</td>
            <td>
              <span class="badge bg-success">Resuelto</span>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Ingrese la solución">
            </td>
            <td>
              <button type="button" class="btn btn-success" style="margin-right: 12px;">
                <i class="pi pi-check"></i> 
              </button>
              <button type="button" class="btn btn-danger">
                <i class="pi pi-times"></i>
              </button>
            </td>
            
          </tr>
          <tr>
            <td colspan="6" class="text-center">No se encontraron más quejas.</td>
          </tr>
        </tbody>
      </table>
      
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#complaintsTable" tabindex="-1">Anterior</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#complaintsTable">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#complaintsTable">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#complaintsTable">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#complaintsTable">Siguiente</a>
          </li>
        </ul>
      </nav>
      
    </div>
  </div>
</div>