.odd-row {
    background-color: #f8f9fa; /* Color de fondo para filas impares */
  }
  .highlight {
    color: red; /* Color rojo para resaltar el texto */
  }
  .profile-img {
    max-width: 50px; /* Ancho máximo de la imagen de perfil */
    height: auto; /* Altura automática para mantener la proporción */
  }