<body>
  <app-menu></app-menu>
  <app-navar></app-navar>

  <div class="container my-5"> <!-- Agrega margen en la parte superior e inferior -->
    <div class="row justify-content-center"> <!-- Centra el contenido horizontalmente -->
      <div class="col-md-8"> <!-- Define el ancho máximo del contenido -->
        <div class="post-container">
          <div class="post">
            <div class="post-header">
              <br>
              <img src="https://jellyfishwarehouse.com/cdn/shop/products/BlueCannonball_1024x1024@2x.jpg?v=1654560467" alt="Profile Picture" class="profile-pic">
              <div class="name">Alucard</div>
              <div class="username">&#64;hellsing</div>
            </div>
            <div style="margin-left: 15px;">❤️i looove jellyfish</div>
            <br>
            <div class="post-img-container">
              <img src="https://www.usatoday.com/gcdn/-mm-/e558d4a0a869ead14127d8fe44710954491d243f/c=1-0-936-528/local/-/media/2016/12/21/USATODAY/USATODAY/636179347804436829-JELLIES-MoonJellies.jpg?width=660&height=373&fit=crop&format=pjpg&auto=webp" alt="Post Image" class="post-img">
            </div>
            <br>
            <div class="post-actions">
              <button type="button" class="btn btn-success">
                <i class="bi bi-check-circle"></i> Aprobado
              </button>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="bi bi-x"></i> Reportar
              </button>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registro de infractor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3 form-floating">
                        <input type="text" class="form-control" id="infractor" name="infractor" placeholder=" ">
                        <label for="infractor">Infractor <i class="bi bi-person-fill"></i></label>
                      </div>
                      <div class="mb-3 form-floating">
                        <textarea class="form-control" id="problema" name="problema" rows="3" placeholder=" "></textarea>
                        <label for="problema">Problema <i class="bi bi-chat-left-text-fill"></i></label>
                      </div>
                      <div class="mb-3 form-floating">
                        <input type="date" class="form-control" id="fecha" name="fecha" placeholder=" ">
                        <label for="fecha">Fecha de queja <i class="bi bi-calendar-date-fill"></i></label>
                      </div>
                      <div class="mb-3 form-floating">
                        <input type="time" class="form-control" id="hora" name="hora" placeholder=" ">
                        <label for="hora">Hora <i class="bi bi-clock-fill"></i></label>
                      </div>
                      <div class="mb-3 form-floating">
                        <select class="form-select" id="estado" name="estado" placeholder=" ">
                          <option value="leve">Leve</option>
                          <option value="grave">Grave</option>
                        </select>
                        <label for="estado">Estado <i class="bi bi-exclamation-triangle-fill"></i></label>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Resetear</button>
                    <button type="button" class="btn btn-primary">Enviar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
