<body>
    <nav class="navbar" style="position: fixed;">
        <div class="container-fluid" style="height: 40px;" >
          <a class="navbar-brand" style="font-size: 25px;"><i class="pi pi-sun" style="color: rgb(40, 34, 77); font-size: 20px; margin-right: 10px; margin-top: 10px;"></i>DreamCatcher</a>
          <a class="navbar-brand" style="font-size: 25px;"><i class="pi pi-angle-left" style="color: rgb(40, 34, 77); font-size: 20px; margin-right: 10px; margin-top: 10px;"></i>Joss Balarezo<i class="pi pi-lock" style="color: rgb(40, 34, 77); font-size: 20px; margin-left: 10px; margin-top: 10px;"></i></a>
          
          <form class="d-flex" role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </nav>
      
    <main style="display: flex;">

      <section>
        <div style="background-color: rgba(128, 127, 127, 0.215); width: 300px; height: 700px; position: fixed;">
        </div>
      </section>

      <section style="margin-left: 430px;">
        <div class="card" style="width: 550px; margin-top: 60px;">
          <img src="https://img.freepik.com/foto-gratis/pintura-lago-montana-montana-al-fondo_188544-9126.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <img src="https://i.pinimg.com/736x/c1/6d/f9/c16df990b7b69365a9eb58bef67cafc9.jpg" class="card-img-top1" alt="...">
            <h3>Joss Balarezo<i class="pi pi-lock" style="color: rgb(40, 34, 77); font-size: 20px; margin-left: 10px; margin-top: 10px;"></i></h3>
            <p class="card-text"><small class="text-body-secondary">jossy.balarezo21</small></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nemo.</p>
            <p class="card-text"><small class="text-body-secondary">Comenzaste en 2013</small></p>
            <div class="detalles" style="display: flex;">
              <p style="margin-right: 10px;">220</p><small class="text-body-secondary" style="margin-right: 30px;">Seguidores</small>
              <p style="margin-right: 10px;">30</p><small class="text-body-secondary">Seguidos</small>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            Quote
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>A well-known quote, contained in a blockquote element.</p>
              <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Quote
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>A well-known quote, contained in a blockquote element.</p>
              <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Quote
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>A well-known quote, contained in a blockquote element.</p>
              <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
          </div>
        </div>
      </section>

      <section style="margin-left: 30px;">
        <div class="card" style="width: 18rem; margin-top: 60px;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-footer">
            Card footer
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </section>
    </main>
</body>
