<section id="sidebar">
    <a routerLink="/" class="brand">
        <i class='bx bxs-dish'></i>
        <i class="bi bi-cloud-moon-fill" style="margin-right: 10px;"></i>
        <span class="text">Dream Catcher</span>
    </a>
    <ul class="side-menu top">
        <!-- Dashboard -->
        <li>
            <a routerLink="/pages/dashboard" *ngIf="userRole === 'user'" style="margin-top: 50px;">
                <i class='bx bxs-dashboard'></i>
                <i class="bi bi-house-door-fill" style="margin-right: 10px;"></i>
                <span class="text">Inicio</span>
            </a>
        </li>
        
        <!-- Crear Historias -->
        <li style="margin-top: 90px;">
            <a (click)="creator.openModal()" style="cursor:pointer;" *ngIf="userRole === 'user'">
                <i class='bx bxs-group'></i>
                <i class="bi bi-plus-square" style="margin-right: 10px;"></i>
                <span class="text">Crear</span>
            </a>
        </li>
        <app-new-create #creator></app-new-create>

        <!-- Explorar -->
        <li style="margin-top: 40px;">
            <a routerLink="/pages/content/explorer" *ngIf="userRole === 'user'">
                <i class='bx bxs-cylinder'></i>
                <i class="bi bi-globe-americas" style="margin-right: 10px;"></i>
                <span class="text">Explorar</span>
            </a>
        </li>
        <!-- Quejas -->
        <li style="position: absolute; top: 150px;">

            <a routerLink="/pages/customer/customer-create" *ngIf="userRole === 'admin'">
                <i class='bx bxs-group'></i>
                <i class="bi bi-mailbox-flag" style="margin-right: 10px;"></i>
                <span class="text">Administrador</span>
            </a>
        </li>

        <!-- Revisor -->
        <li style="margin-top: 40px;">
            <a style="cursor:pointer;">
                <i class='bx bxs-person'></i>
                <i class="bi bi-person" style="margin-right: 10px;"></i>
                <span class="text">Revisor</span>
            </a>
        </li>
        
    </ul>
    <!-- Salir -->
    <ul class="side-menu">
        <li style="margin-top: 220px;">
            <a (click)="logout()" style="cursor:pointer;" *ngIf="userRole === 'user'">
              <i class='bx bx-log-out-circle'></i>
              <i class="bi bi-escape" style="margin-right: 10px; width:62; height: 62"></i>
              <span class="text">Salir</span>
            </a>
          </li>
    </ul>
    <ul class="side-menu">
        <li style="margin-top: 120px;">
            <a (click)="logout()" style="cursor:pointer;" *ngIf="userRole === 'admin'">
              <i class='bx bx-log-out-circle'></i>
              <i class="bi bi-escape" style="margin-right: 10px; width:62; height: 62"></i>
              <span class="text">Salir</span>
            </a>
          </li>
    </ul>
</section>