<form style="width: 700px; background-color: rgba(227, 225, 225, 0.237); padding: 20px; margin-left: 450px; margin-top: 50px; border-radius: 30px;">
    <h3 style="margin-left: 200px;">Crear Publicacion</h3>
    <div class="header" style="display: flex;">
        <div class="profile-image">
            <img src="https://i.pinimg.com/736x/c1/6d/f9/c16df990b7b69365a9eb58bef67cafc9.jpg"
                style="width: 50px; height: 50px; border-radius: 50%;" alt="...">
        </div>
        <div class="user" style="margin-left: 20px;">
            <h6>Joss Balarezo</h6>
            <p class="card-text" style="font-size: 15px;"><small class="text-body-secondary">jossy.balarezo21</small>
            </p>
        </div>
    </div>
    <div class="mb-3" style="margin-top: 30px;">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Escribe tu publicacion"
            style="background-color: transparent; border: none; height: 60px;">
    </div>
    <div class="mb-3">
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile01">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left: 550px;">Postear</button>
</form>