
    
    <div class="row mt-4 justify-content-center">
        <div class="col-md-4 mb-4 text-center" >
            <div class="post">
                <img src="https://i.pinimg.com/originals/41/06/44/41064479e50f88a92d128b44cbcfb0c2.jpg" alt="Foto 1" class="img-fluid"  style="width: 350px; height: 450px;">
                <div class="overlay">
                    <div class="description">
                        <p>Atardecer...</p>
                        <p> &#64;Jumbo</p>
                        <button class="like-btn fs-2"><i class="bi bi-heart"></i> </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 text-center" >
            <div class="post">
                <img src="https://i.pinimg.com/originals/df/9f/55/df9f55089093205fef99d73f7be923ca.jpg" alt="Foto 1" class="img-fluid"  style="width: 350px; height: 450px;">
                <div class="overlay">
                    <div class="description">
                        <p>nightlife c;  </p>
                        <p> &#64;Nom</p>
                        <button class="like-btn fs-2"><i class="bi bi-heart"></i> </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 text-center" >
            <div class="post">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr7bgS6YAbZxPIHqokEhHKvEaa0uosSzhLQQ&usqp=CAU" alt="Foto 1" class="img-fluid"  style="width: 350px; height: 450px;">
                <div class="overlay">
                    <div class="description">
                        <p>cars :0  </p>
                        <p> &#64;CatLover</p>
                        <button class="like-btn fs-2"><i class="bi bi-heart"></i> </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 text-center" >
            <div class="post">
                <img src="https://i.pinimg.com/originals/41/06/44/41064479e50f88a92d128b44cbcfb0c2.jpg" alt="Foto 1" class="img-fluid"  style="width: 350px; height: 450px;">
                <div class="overlay">
                    <div class="description">
                        <p>Atardecer...</p>
                        <p> &#64;Jumbo</p>
                        <button class="like-btn fs-2"><i class="bi bi-heart"></i> </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 text-center" >
            <div class="post">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr7bgS6YAbZxPIHqokEhHKvEaa0uosSzhLQQ&usqp=CAU" alt="Foto 1" class="img-fluid"  style="width: 350px; height: 450px;">
                <div class="overlay">
                    <div class="description">
                        <p>cars :0  </p>
                        <p> &#64;CatLover</p>
                        <button class="like-btn fs-2"><i class="bi bi-heart"></i> </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 text-center" >
            <div class="post">
                <img src="https://i.pinimg.com/originals/df/9f/55/df9f55089093205fef99d73f7be923ca.jpg" alt="Foto 1" class="img-fluid"  style="width: 350px; height: 450px;">
                <div class="overlay">
                    <div class="description">
                        <p>nightlife c;  </p>
                        <p> &#64;Nom</p>
                        <button class="like-btn fs-2"><i class="bi bi-heart"></i> </button>

                    </div>
                </div>
            </div>
        </div>
<footer>
    <div class="footer">
        <p>&copy; 2024 DreamCatcher</p>
    </div>
</footer>
