<header>
  <app-menu></app-menu>
</header>
<main>
  <app-navar></app-navar>
  <section id="content">
    <main>
      <app-stories></app-stories>
      <div class="table-data">
        <div class="order">
          <app-post></app-post>
        </div>
      </div>
      <div class="table-data">
        <div class="order">
          <p class="text-body-secondary" style="margin-top: 5px; margin-left: 5px;">
            <img src="https://i.pinimg.com/564x/40/76/79/407679d20088c659aba7a760c69dd7c3.jpg" class="rounded-circle" alt="..." style="width: 40px; height: 40px; margin-right: 10px;">
            Fernanda Andrade fe_2004
            <br>
            <br>
            <p class="text" style="margin-left: 5px;">
              "¿Amante de la cocina? ¡No te pierdas nuestra receta exclusiva de la semana! Desde platos tradicionales hasta sabores innovadores, ¡tenemos algo para todos los paladares!"
            </p>
            <img src="https://i.pinimg.com/564x/bd/7c/69/bd7c6963cd2ea6e7b06d7895c1a145f0.jpg" class="card-img-top" alt="..." style="width: 400px; height: 400px; margin-left: 350px; margin-top: 40px;">
        </div>
      </div>
    </main>
  </section>
</main>
<app-footer></app-footer>

<!-- Subscription Modal -->
<div class="modal fade" id="subscribeModal" tabindex="-1" aria-labelledby="subscribeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <app-form-suscriptor></app-form-suscriptor>
    </div>
  </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
